<a href="https://colab.research.google.com/github/manixha/Webscrapping/blob/main/Web_scrape_to_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
try:
  url = requests.get('https://www.imdb.com/chart/top/')
  url.raise_for_status()
  conn = sqlite3.connect('newdb.db')
  c = conn.cursor()

  c.execute('''CREATE TABLE movies(name TEXT,rank INT,year INT,rating INT)''')

  soup = BeautifulSoup(url.text,'lxml')
  movies = soup.find('tbody',class_='lister-list').find_all('tr')
  
  for movi in movies:
    name = movi.find('td',class_='titleColumn').a.text
    rank = movi.find('td',class_='titleColumn').get_text(strip=True).split('.')[0]
    year = movi.find('td',class_='titleColumn').span.text.strip('()')
    rating = movi.find('td',class_='ratingColumn imdbRating').strong.text
    c.execute('''Insert into movies values(?,?,?,?)''',(rank,name,year,rating))
  
  conn.commit()
  
 # c.execute('''Select * from movies''')
 # results = c.fetchall()
 # print(len(results))

  df = pd.read_sql_query("Select * from movies",conn)
  print(df)
  conn.close()

except Exception as e:
  print(e)

    name                      rank  year  rating
0      1  The Shawshank Redemption  1994     9.2
1      2             The Godfather  1972     9.2
2      3           The Dark Knight  2008     9.0
3      4    The Godfather: Part II  1974     9.0
4      5              12 Angry Men  1957     9.0
..   ...                       ...   ...     ...
245  246            The Iron Giant  1999     8.0
246  247                  The Help  2011     8.0
247  248                   Aladdin  1992     8.0
248  249                    Gandhi  1982     8.0
249  250        Dances with Wolves  1990     8.0

[250 rows x 4 columns]